<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- chrome, firefox, edge, ie, safari : ie is default-->
    <add key="global.browser" value="chrome" />
    <add key="global.baseUrl" value="https://nbidev.hoganlovells.com/Open/Intake/Default.aspx" />
    <add key="global.mode" value="release" />
    <add key="global.screenshots" value="off" />
    <add key="global.screenshots.format" value="file" />
    <!-- file, base64 -->
    <add key="datamanager.source" value="default" />
    <add key="datamanager.basepath" value="" />
    <add key="report.title" value="Hogan Lovells NBI Automation" />
    <add key="browser.chrome.arguments" value="start-maximized" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>